<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.crv.vwop.org.shops.dal.mapper.OrgShopsOptionMapper">
    <!--有较多关联查询，sql较复杂，又不希望每次被geneator刷新干掉的，可以单独写一个xml-->
    <!--
    <resultMap id="BaseResultMap" type="cn.com.kuroneko.org.shops.dal.entity.ShopDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="shop_code" jdbcType="VARCHAR" property="shopCode" />
        <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
        <result column="shop_shortname" jdbcType="VARCHAR" property="shopShortname" />
        <result column="org_id" jdbcType="BIGINT" property="orgId" />
        <result column="biz_start_time" jdbcType="CHAR" property="bizStartTime" />
        <result column="biz_end_time" jdbcType="CHAR" property="bizEndTime" />
        <result column="shop_introduction" jdbcType="VARCHAR" property="shopIntroduction" />
        <result column="tel_no" jdbcType="VARCHAR" property="telNo" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="shop_status_code" jdbcType="VARCHAR" property="shopStatusCode" />
        <result column="shop_status_value" jdbcType="VARCHAR" property="shopStatusValue" />
        <result column="biz_shop_status" jdbcType="INTEGER" property="bizShopStatus" />
        <result column="lat" jdbcType="DECIMAL" property="lat" />
        <result column="lng" jdbcType="DECIMAL" property="lng" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="modify_user_id" jdbcType="BIGINT" property="modifyUserId" />
        <result column="modify_user_name" jdbcType="VARCHAR" property="modifyUserName" />
    </resultMap>

    <sql id="Base_Column_List">
        id, shop_code, shop_name, shop_shortname,
        org_id, biz_start_time, biz_end_time, shop_introduction, tel_no, address,shop_status_code,shop_status_value, biz_shop_status,
        lat, lng, gmt_create, gmt_modified,modify_user_id,modify_user_name
    </sql>


    <select id="qryShopsPageable" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from os_biz_shop_info obsi
        where 1 = 1
        and ( 1 = 1
        <if test="condition.userAvlOrgIdList == null">
            and 1 = 2
        </if>

        <if test="condition.userAvlOrgIdList!= null and condition.userAvlOrgIdList.size() > 0">
            and
            <foreach collection="condition.userAvlOrgIdList" item="orgs" open="(" separator="or" close=")">
                obsi.org_id in
                <foreach collection="orgs" item="org_id" open="(" separator="," close=")">
                    #{org_id}
                </foreach>
            </foreach>
        </if>
        <if test="condition.orgIdList == null">
            and 1 = 2
        </if>
        <if test="condition.orgIdList!= null and condition.orgIdList.size() > 0">
            and
            <foreach collection="condition.orgIdList" item="orgs" open="(" separator="or" close=")">
                obsi.org_id in
                <foreach collection="orgs" item="org_id" open="(" separator="," close=")">
                    #{org_id}
                </foreach>
            </foreach>
        </if>

        <if test="condition.shopName != null">
            and obsi.shop_name Like '%${condition.shopName}%'
        </if>
        <if test="condition.shopCode != null">
            and (obsi.shop_code = #{condition.shopCode} or obsi.shop_old_code = #{condition.shopCode}  or concat('8S',obsi.shop_old_code) = #{condition.shopCode})
        </if>
        <if test="condition.bizShopStatus != null">
            and obsi.biz_shop_status = #{condition.bizShopStatus}
        </if>
        <if test="condition.createTimeStart != null and condition.createTimeEnd !=null">
            and obsi.gmt_create between #{condition.createTimeStart} and #{condition.createTimeEnd}
        </if>
        )
        <if test="condition.noOrgShopShowFlag != null and condition.noOrgShopShowFlag == 1">
            or obsi.org_id is null
        </if>
          order by gmt_modified desc
    </select>

    -->
</mapper>